body{
	font-family: 'Montserrat', sans-serif;
	background: #111111;
	color: white;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

.principal{
	background: #1A1A1A;
	padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
	color: #FFD700;
	font-size: 2em;
}

.titulo-centralizado{
	text-align: center;
}

p{
	text-align: center;
	line-height: 1.5;
}

#missao{
	font-size: 20px;
	font-style: italic;
}

em strong{
	color: #FFA500;
}

.itens{
	font-style: italic;
	line-height: 1.8;
	font-size: 18px;
}

.beneficios{
	background: #222222;
	padding: 20px;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	list-style: none;
}

.imagembeneficios{
	width: 50%;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #000000;
	transition: 0.4s;
}

.imagembeneficios:hover{
	opacity: 0.8;
	transform: scale(1.03);
}